# LaTeX auxiliary / build outputs
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.figlist
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.lol
*.maf
*.mtc*
*.nav
*.out
*.pygstyle
*.pygtex
*.run.xml
*.slf*
*.slt*
*.snm
*.spl
*.synctex.gz
*.synctex(busy)
*.tdo
*.toc
*.upa
*.upb
*.vrb
*.xdv
*-blx.bib
*.dvi
*.ps

# latexmk / minted / build dirs
.latexmkrc
_minted*
%OUTDIR%/
